<section>
  <h1 class="text-center text-main my-2">Forget Password</h1>

  @if(step === 1) {
  <form
    [formGroup]="verifyEmail"
    class="bg-main-light rounded-4 shadow p-3 my-2"
    (ngSubmit)="verifyEmailSubmit()"
  >
    <div class="my-2">
      <label for="email" class="">E-mail</label>
      <input
        formControlName="email"
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />
    </div>
    <button [disabled]="verifyEmail.invalid" type="submit" class="btn-main">
      Next @if(isLoad){
      <span><li class="fas fa-spin fa-spinner"></li></span>
      }
    </button>
  </form>

  } @else if(step === 2) {
  <form
    (ngSubmit)="verifyCodeSubmit()"
    [formGroup]="verifyCode"
    class="bg-main-light rounded-4 shadow p-3 my-2"
  >
    <div class="my-2">
      <label for="resetCode" class="">Code</label>
      <input
        formControlName="resetCode"
        type="text"
        class="form-control"
        id="resetCode"
        placeholder="Enter code"
      />
    </div>
    <button [disabled]="verifyCode.invalid" type="submit" class="btn-main">
      Next @if(isLoad){
      <span><li class="fas fa-spin fa-spinner"></li></span>
      }
    </button>
  </form>
  } @else if(step === 3) {
  <form
    (ngSubmit)="resetPasswordSubmit()"
    [formGroup]="resetPassword"
    class="bg-main-light rounded-4 shadow p-3 my-2"
  >
    <div class="my-2">
      <label for="email" class="">E-mail</label>
      <input
        readonly
        formControlName="email"
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />

      <label for="newPassword" class="">New password</label>
      <input
        formControlName="newPassword"
        type="password"
        class="form-control"
        id="newPassword"
        placeholder="Enter new password"
      />
    </div>
    <button [disabled]="resetPassword.invalid" type="submit" class="btn-main">
      Reset password @if(isLoad){
      <span><li class="fas fa-spin fa-spinner"></li></span>
      }
    </button>
  </form>
  }
</section>
