<section class="bg-light rounded-4 shadow p-5 my-4 w-80 mx-auto">
    <h1 class="text-center text-dark my-3">Shipping Information</h1>
    <form [formGroup]="ordersForm" (ngSubmit)="orderSubmit()">
        <div class="mb-3">
            <label for="details" class="form-label">Full Address</label>
            <textarea formControlName="details" id="details" class="form-control" rows="4" placeholder="Enter your full address"></textarea>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input formControlName="phone" id="phone" type="tel" class="form-control" placeholder="Your contact number" />
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input formControlName="city" id="city" type="text" class="form-control" placeholder="City name" />
        </div>

        <div class="text-center">
            <button class="btn btn-main px-4 py-2 rounded-pill" type="submit">Proceed to Checkout</button>
        </div>
    </form>
</section>
